/*font-family: 'Noto Serif TC', serif;*/
body, html {
    height: 100%;
  }
  
  body { 
    /* The image used */
    background-image: url("thumb-1920-754560.png");
  
    /* Full height */
    height: 100%;
    width: 100%;
  
    /* Center and scale the image nicely */
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }
  h2,p{
    font-size:100%;
    font-family: 'Noto Serif TC';
    font-weight: normal;
  }
  ul,li{
    list-style:none;
  }
  ul{
    overflow:hidden;
    padding:200px;
  }
  ul li a{
    text-decoration:none;
    color:#000;
    background:#ffc;
    display:block;
    height:10em;
    width:10em;
    padding:1em;
    -moz-box-shadow:15px 10px 7px rgb(207, 39, 39);
    -webkit-box-shadow: 15px 15px 7px rgba(67, 15, 238, 0.7);
    box-shadow: 15px 10px 7px rgba(218, 199, 35, 0.7);
    -moz-transition:-moz-transform .25s linear;
    -o-transition:-o-transform .25s linear;
    -webkit-transition:-webkit-transform .35s linear;
  }
  ul li{
    margin:1em;
    float:left;
  }
  ul li h2{
    font-size:14px;
    font-weight:bold;
    padding-bottom:5px;
  }
  ul li p{
    font-family: 'Noto Serif TC';
    font-size:12px;
  }
  ul li a{
    -webkit-transform: rotate(-6deg);
    -o-transform: rotate(-6deg);
    -moz-transform:rotate(-6deg);
  }
  ul li:nth-child(even) a{
    -o-transform:rotate(4deg);
    -webkit-transform:rotate(4deg);
    -moz-transform:rotate(4deg);
    position:relative;
    top:5px;
    background:#cfc;
  }
  ul li:nth-child(3n) a{
    -o-transform:rotate(-3deg);
    -webkit-transform:rotate(-3deg);
    -moz-transform:rotate(-3deg);
    position:relative;
    top:-5px;
    background:#ccf;
  }
  ul li:nth-child(5n) a{
    -o-transform:rotate(5deg);
    -webkit-transform:rotate(5deg);
    -moz-transform:rotate(5deg);
    position:relative;
    top:-10px;
  }
  ul li a:hover,ul li a:focus{
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
    -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
    -webkit-transform: scale(1.75);
    -moz-transform: scale(1.75);
    -o-transform: scale(1.75);
    position:relative;
    z-index:5;
  }
  ol{text-align:center;}
  ol li{display:inline;padding-right:1em;}
  ol li a{color:#fff;}
  #span{
      background-color: yellow;
  }